{% extends 'base.html' %}
{% block content %}
<h1>Корзина</h1>
  <div class="cart">
      {% for item in cart %}
            {% with product=item.product %}
                <div class="cart_item">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.img.url }}" class="p_img" style="width: 150px; height: 150px">
                    </a>
                    <h3 style="width: 40%">{{ product.name }} <br> {{ product.description }} <br> {{ product.size }}</h3>
                    <h4>Цена: {{ item.value }} по {{ item.price }} руб. = {{ item.total_price }} руб.</h4>
                    <a href="{% url "cart:cart_remove" product.id%}"><h5>Удалить</h5></a>
                </div>
            {% endwith %}
        {% endfor %}
      <div class="total">
          <h4>Итого:</h4>
          <h4>{{ cart.get_total_price }} руб.</h4>
      </div>
  </div>
    <style>
    body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 15px;
    background-color: beige;
}

body::-webkit-scrollbar-thumb {
    background-color: #efd695;
    border-radius: 30px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #DFC98A;
}

footer {
  width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #DFC98A;
}


.p_img{
    width: 250px;
    height: 250px;
    border-radius: 30px;
}


.cart_item{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;

}

.cart{
    margin: 20px 0;
}

.total{
    margin-top: 20px;
    text-align: right;
}
    </style>
{% endblock %}