{% extends 'base.html' %}
{% block content %}
    <div class="detail">
        <div class="detail_top">
          <h2>{{ product.name }}</h2>
            <h3>{{ product.description }}</h3>
        </div>
        <div class="detail_bottom">
            <div class="detail_bottom_left">
                <img src="{{ product.img.url }}" class="detail_img">
            </div>
            <div class="detail_bottom_middle">
                <h5>Размер: {{ product.size }}</h5>
                <h5>Материал: {{ product.material }}</h5>
                <h5>Цвет: {{ product.color }}</h5>
            </div>
            <div class="detail_bottom_right">
                <div class="detail_bottom_right_container">
                    <h3 style="padding-left: 5px;">{{ product.price }} руб.</h3>
                    <div class="detail_container_bottom">
                            {% if product.available %}
                            <h5 style="margin: 20px 0 10px 5px;">В наличии</h5>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_product_form }}
                                <input class="btn btn-success" type="submit" value="Добавить в корзину">
                            </form>
                            {% else %}
                            <h5 style="margin: 20px 0 10px 5px;">Нет в наличии</h5>
                            <button class="btn" style="border: 1px solid dimgray;">Добавить в корзину</button>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 15px;
    background-color: beige;
}

body::-webkit-scrollbar-thumb {
    background-color: #efd695;
    border-radius: 30px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #DFC98A;
}

footer {
  width: 100%;
}


.btn{
    background-color: beige;
    border: none;
    font-weight: 600;
    border-radius: 30px;
    color: black;
}

.btn:hover{
    background-color: #DFC98A;
    box-shadow: none;
}
.btn:focus{
    background-color: #DFC98A;
    border: none;
    box-shadow: none;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #DFC98A;
}


.detail{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.detail_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.detail_img{
    width: 350px;
    height: 350px;
    border-radius: 30px;
}

.detail_bottom_middle{
    width: 400px;
    padding-top: 30px;
}

.detail_bottom_right_container{
    border: 2px solid #DFC98A;
    border-radius: 30px;
    padding: 30px;
}
    </style>
{% endblock %}